<ion-view view-title="День 1 - Понедельник">
    <ion-content>
        <div class="rasp">
            <div class="day_time_block">
                <h2>Завтрак <img src="img/breakfast.png"></h2>
                <div class="row">
                    <div class="col col-50 tr_lbl">Овсянка</div>
                    <div class="col col-12 bel_txt">10</div>
                    <div class="col col-12 zhir_txt">20</div>
                    <div class="col col-12 ugl_txt">59</div>
                    <div class="col col-12 kkal_txt">59</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Яблоко</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">0</div>
                    <div class="col col-12 ugl_txt">25</div>
                    <div class="col col-12 kkal_txt">25</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Кофе</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">12</div>
                    <div class="col col-12 ugl_txt">15</div>
                    <div class="col col-12 kkal_txt">15</div>
                </div>
            </div>
            <div class="day_time_block">
                <h2>Обед <img src="img/lunch.png"></h2>
                <div class="row">
                    <div class="col col-50 tr_lbl">Куриный бульон</div>
                    <div class="col col-12 bel_txt">89</div>
                    <div class="col col-12 zhir_txt">54</div>
                    <div class="col col-12 ugl_txt">59</div>
                    <div class="col col-12 kkal_txt">259</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Рис на пару</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">24</div>
                    <div class="col col-12 ugl_txt">255</div>
                    <div class="col col-12 kkal_txt">125</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Тушеные овощи</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">0</div>
                    <div class="col col-12 ugl_txt">115</div>
                    <div class="col col-12 kkal_txt">115</div>
                </div>
            </div>
            <div class="day_time_block">
                <h2>Ужин <img src="img/dinner.png"></h2>
                <div class="row">
                    <div class="col col-50 tr_lbl">Гречневая каша</div>
                    <div class="col col-12 bel_txt">10</div>
                    <div class="col col-12 zhir_txt">0</div>
                    <div class="col col-12 ugl_txt">145</div>
                    <div class="col col-12 kkal_txt">115</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Куриная грудка</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">12</div>
                    <div class="col col-12 ugl_txt">68</div>
                    <div class="col col-12 kkal_txt">240</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Овощи</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">0</div>
                    <div class="col col-12 ugl_txt">120</div>
                    <div class="col col-12 kkal_txt">86</div>
                </div>
                <div class="row">
                    <div class="col col-50 tr_lbl">Овощи</div>
                    <div class="col col-12 bel_txt">0</div>
                    <div class="col col-12 zhir_txt">0</div>
                    <div class="col col-12 ugl_txt">0</div>
                    <div class="col col-12 kkal_txt">993</div>
                </div>
            </div>
        </div>
        <div class="summ_block">
            <p class="kkal_tit">Ккал: <span class="summ_num">2032</span></p>
            <div class="row statistics">
                <div class="col col-26 b_bar"> </div>
                <div class="col col-26 zh_bar"> </div>
                <div class="col col-48 u_bar"> </div>
            </div>
            <div class="row"> 
                <div class="col col-26"><p class="bel_txt">Б: <span class="summ_num">230 гр.</span></p></div>
                <div class="col col-26"><p class="zhir_txt">Ж: <span class="summ_num">120 гр.</span></p></div>
                <div class="col col-48"><p class="ugl_txt">У: <span class="summ_num">300 гр.</span></p></div>
            </div>
        </div>
    </ion-content>
</ion-view>
