<ion-view>
    <ion-nav-title>Питание</ion-nav-title>
  <ion-tabs class="tabs-positive tabs-striped tabs-top">

      <ion-tab title="ТЕКУЩАЯ">
      <ion-content id="current_content">
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
            <a class="item" href="#/app/days">
              <h3>День 1</h3>
              <div class="row statistics">
                <div class="col col-26 bel"> </div>
                <div class="col col-26 zhir"> </div>
                <div class="col col-48 ugl"> </div>
              </div>
              <div class="row">
                <div class="col col-26"><p class="bel_txt">Белки: 230 гр.</p></div>
                <div class="col col-26"><p class="zhir_txt">Жиры: 120 гр.</p></div>
                <div class="col col-48"><p class="ugl_txt">Углеводы: 300гр.</p></div>
              </div>
            </a>
            <hr>
              <p class="all_statis">Всего: 2120 Ккал</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
            <a class="item" href="#/app/days">
              <h3>День 2</h3>
              <div class="row statistics">
                <div class="col col-26 bel"> </div>
                <div class="col col-26 zhir"> </div>
                <div class="col col-48 ugl"> </div>
              </div>
              <div class="row">
                <div class="col col-26"><p class="bel_txt">Белки: 230 гр.</p></div>
                <div class="col col-26"><p class="zhir_txt">Жиры: 120 гр.</p></div>
                <div class="col col-48"><p class="ugl_txt">Углеводы: 300гр.</p></div>
              </div>
            </a>
            <hr>
              <p class="all_statis">Всего: 2120 Ккал</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
            <a class="item" href="#/app/days">
              <h3>День 3</h3>
              <div class="row statistics">
                <div class="col col-26 bel"> </div>
                <div class="col col-26 zhir"> </div>
                <div class="col col-48 ugl"> </div>
              </div>
              <div class="row">
                <div class="col col-26"><p class="bel_txt">Белки: 230 гр.</p></div>
                <div class="col col-26"><p class="zhir_txt">Жиры: 120 гр.</p></div>
                <div class="col col-48"><p class="ugl_txt">Углеводы: 300гр.</p></div>
              </div>
            </a>
            <hr>
              <p class="all_statis">Всего: 2120 Ккал</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
            <a class="item" href="#/app/days">
              <h3>День 4</h3>
              <div class="row statistics">
                <div class="col col-26 bel"> </div>
                <div class="col col-26 zhir"> </div>
                <div class="col col-48 ugl"> </div>
              </div>
              <div class="row">
                <div class="col col-26"><p class="bel_txt">Белки: 230 гр.</p></div>
                <div class="col col-26"><p class="zhir_txt">Жиры: 120 гр.</p></div>
                <div class="col col-48"><p class="ugl_txt">Углеводы: 300гр.</p></div>
              </div>
            </a>
            <hr>
              <p class="all_statis">Всего: 2120 Ккал</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
            <a class="item" href="#/app/days">
              <h3>День 5</h3>
              <div class="row statistics">
                <div class="col col-26 bel"> </div>
                <div class="col col-26 zhir"> </div>
                <div class="col col-48 ugl"> </div>
              </div>
              <div class="row">
                <div class="col col-26"><p class="bel_txt">Белки: 230 гр.</p></div>
                <div class="col col-26"><p class="zhir_txt">Жиры: 120 гр.</p></div>
                <div class="col col-48"><p class="ugl_txt">Углеводы: 300гр.</p></div>
              </div>
            </a>
            <hr>
              <p class="all_statis">Всего: 2120 Ккал</p>
          </div>
        </div>
      </ion-content>
      </ion-tab>

      <ion-tab title="ПРОДУКТЫ">
      <ion-content id="food_content">
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
              <h3>Яйца</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
            <hr>
              <p class="all_statis">Всего: 12 штук</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
              <h3>Куринная рудка</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
            <hr>
              <p class="all_statis">Всего: 12 штук</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
              <h3>Гречка</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
            <hr>
              <p class="all_statis">Всего: 4 кг</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
              <h3>Молоко</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
            <hr>
              <p class="all_statis">Всего: 8 литров</p>
          </div>
        </div>
        <div class="card food_card">
          <div class="item item-text-wrap food_card">
              <h3>Овсянка</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
            <hr>
              <p class="all_statis">Всего: 4 кг</p>
          </div>
        </div>
      </ion-content>
      </ion-tab>

      <ion-tab title="РЕЦЕПТЫ">
      <ion-content id="rec_content">
          <div class="rec">
            <img src="img/">
            <div class="rec_tit">
                <h4>Гречка по гусарски со<br>шпинатами и томатами</h4>
                <div class="row">
                    <div class="col col-21 sost_el">Гречка 100г</div>
                    <div class="col col-21 sost_el">Шпинат 50г</div>
                    <div class="col col-21 sost_el">Томаты 3шт</div>
                </div>
            </div>
            <div class="rec_txt">
                <h5>вчера 15:34</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.</p>
            </div>
          </div>
          <div class="rec">
            <img src="img/">
            <div class="rec_tit">
                <h4>Гречка по гусарски со<br>шпинатами и томатами</h4>
                <div class="row">
                    <div class="col col-21 sost_el">Гречка 100г</div>
                    <div class="col col-21 sost_el">Шпинат 50г</div>
                    <div class="col col-21 sost_el">Томаты 3шт</div>
                </div>
            </div>
            <div class="rec_txt">
                <h5>вчера 15:34</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor est, laoreet quis mauris et, aliquet aliquet ex. Mauris pulvinar.</p>
            </div>
          </div>
      </ion-content>
      </ion-tab>

  </ion-tabs>
</ion-view>
