<ion-view>
    <ion-nav-title>Справка и Настройки</ion-nav-title>
  <ion-content>
      <div class="info_block">
        <img src="img/logo.png">
        <p>ProFit Ver 1.0<br>2016 &copy твой профит.рф</p>
          <p><a href="#">Оставить отзыв</a><br><span>Поделиться идеями и моментами</span</p>
          <p><a href="#">Техническая поддержка</a><br><span>Сообщите об ошибке или проблеме</span</p>
          <p><a href="#">Справочник</a><br><span>Поделиться идеями и мнением</span</p>
      </div>
      <div class="func_block">
          <div class="row">
              <div class="col col-50">Функция 1</div>
              <div class="col">
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                     <div class="handle"></div>
                    </div>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">Функция 2</div>
              <div class="col">
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                     <div class="handle"></div>
                    </div>
                </label>
              </div>
            </div>
        </div>
  </ion-content>
</ion-view>
