<ion-view>
    <ion-nav-title>Блог</ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i> <a href="#/app/single_news">ПОДРОБНЕЕ</a></p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
