<ion-view>
  <ion-nav-title>Мой Прогресс</ion-nav-title>
  <ion-content>
      <div class="setting_row">
        <div class="row">
            <div class="col col-80">
                <p>Плечо</p>
            </div>  
            <div class="col col-20">
                <input type="text" value="29.6" class="setting_input">
            </div>  
        </div>
      </div>
      <div class="setting_row">
        <div class="row">
            <div class="col col-80">
                <p>Бицепс</p>
            </div>  
            <div class="col col-20">
                <input type="text" value="30.5" class="setting_input">
            </div>  
        </div>
      </div>
      <div class="setting_row">
        <div class="row">
            <div class="col col-80">
                <p>Предплечье</p>
            </div>  
            <div class="col col-20">
                <input type="text" value="21.8" class="setting_input">
            </div>  
        </div>
      </div>
  </ion-content>
</ion-view>
