<ion-view>
    <ion-nav-title>Блог</ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap news_card">
        <p class="item item-thumbnail-left">
          <img src="">
          <p class="news_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
          <hr>
          <p class="news_card_footer"><i class="ion-heart"></i><i class="ion-forward"></i>
              <i class="ion-chatbubble pull-right"> <span>16</span> </i> <i class="ion-edit pull-right"></i>
          </p>
        </p>
        <div class="comments_block">
            <div class="row">
                <div class="col col-20"><img src="img/pic.png" class="mnu_avatar"></div>
                <div class="col col-80">
                    <h2>Анна Атлетова <span>9 часов назад</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
                </div>
            </div>
        </div>
        <div class="comments_block">
            <div class="row">
                <div class="col col-20"><img src="img/pic.png" class="mnu_avatar"></div>
                <div class="col col-80">
                    <h2>Анна Атлетова <span>9 часов назад</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
