<ion-view ng-controller="MyContr">
    <ion-nav-title>Тренировка 1</ion-nav-title>
  <ion-content>
      <div class="row single_tren">
        <div class="col col-40">
            <img src="img/tren_pic.png" class="full-width"><br>
            <h5><span>тип:</span> FullBody</h5>
        </div>
        <div class="col col-60">
            <h4>Тренировка 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </div>
      </div>
      <div class="row tren_row">
        <div class="col col-40">
            <img src="img/tren_pic_2.png" class="full-width">
        </div>
        <div class="col col-50">
            <h4><a href="#/app/single_tr">Жим штанги лежа</a></h4>
            <p>Разминочный 80% от рабочего веса</p>
            <ul>
                <li><img src="img/repeats.png"> <span>10 повторений</span></li>
                <li><img src="img/relax.png"> <span>отдых 1 мин.</span></li>
            </ul>
        </div>
        <div class="col col-10 last_unch" ng-click="setChecked($event);">
            <label class="tren_check"><input type="checkbox"/></label>
        </div>

      </div>
      <div class="row tren_row">
        <div class="col col-40">
            <img src="img/tren_pic_2.png" class="full-width">
        </div>
        <div class="col col-50">
            <h4><a href="#/app/single_tr">Жим штанги лежа</a></h4>
            <p>Разминочный 80% от рабочего веса</p>
            <ul>
                <li><img src="img/repeats.png"> <span>10 повторений</span></li>
                <li><img src="img/relax.png"> <span>отдых 1 мин.</span></li>
            </ul>
        </div>
        <div class="col col-10 last_ch" ng-click="setChecked($event);">
            <label class="tren_check"><input type="checkbox"/></label>
        </div>

      </div>
  </ion-content>
</ion-view>
