<ion-view>
    <ion-nav-title>Тренировки</ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 1</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
      <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 2</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
      <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 3</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
      <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 4</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
      <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 5</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
      <div class="card">
      <div class="item item-text-wrap tren_card">
        <a class="item item-thumbnail-left" href="#/app/trainin">
          <img src="img/tren_pic.png">
          <h2>Тренировка 6</h2>
          <h3><span>тип:</span> FullBody</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut cursus lorem. Nullam in elit consectetur.</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
